.idea
/node_modules
/public/storage
/storage/*.key
/vendor
/public/docs
/public/vendor
.scribe
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/upload/

public/upload
